{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<link href="css/panier.css" rel="stylesheet" />
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>

  <!-- nav section -->
    {{include('_menus/_navbar.html.twig')}}
  <!-- end nav section -->


  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h4>Mon panier</h4>
          </div>
        </div>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-3">
                {{include("_menus/_menu_vertical_user.html.twig")}}
          </div>
      
      <div class="col-lg-9">
      {% for message in app.flashes('success') %}
        <div class="alert-info">
        {{message}}
        </div>
      {% endfor %}
      {% if produits|length == 0 %}
        <tr>
            <td colspan="4"><center>Aucun articles dans votre panier</center></td>
        </tr>
      {% endif %}
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Mon panier
                <a href="{{path('produits_produits')}}" class="btn btn-outline-info btn-sm pull-right">Continuer mes achats</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
            {# Déclaration de variables pour calculer le totalht et totalttc#}
            {% set totalHT = 0 %}
            {% set totalTTC = 0 %}
            {# Pour calculer le coût de la TVA , je vais déclarer un tableau vide retTva #}
            {% set refTva = {} %}

            <!-- PRODUCT -->
                {% for produit in produits %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="100" height="60">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-4">
                            <h5>{{produit.nom}}</h5> 
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-6 text-md-right row">
                            <div class="col-4 col-sm-4 col-md-4">
                              <form action="{{ path('panier_ajout', { 'id' : produit.id }) }}" method="get">
                                <select name="qte" class="quantity" onChange="this.form.submit()">
                                    {% for i in 1..10 %} {# la quantité va de 1 à 10 #}
                                      <option value="{{i}}"  {% if i == panier[produit.id] %} selected="selected" {% endif %}>
                                           {{i}}
                                     </option>
                                    {% endfor %}
                                </select>
                              </form>
                                  <a href="{{ path('panier_prod_sup', {'id' : produit.id }) }}"> 
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 text-right">
                                <h6><strong>{{produit.prixht}}</strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 text-md-right">
                               <h6><strong>{{produit.prixht * panier[produit.id]}}</strong></h6>
                            </div>
                           
                        </div>
                    </div>
                    <hr>
                    <!-- permet d'avoir les valeurs successives de la tva sans repetiotion; panier[produit.id]=qte --> 
                  {% set refTva = refTva|merge({('%'~produit.tva.valeur):0}) %}
                  {% set totalHT = totalHT + (produit.prixht * panier[produit.id]) %}
                  {% set totalTTC = totalTTC +(produit.prixht * panier[produit.id])|calculTtcProduit(produit.tva.multiplicateur)%}
                  {% set refTva = refTva|merge({('%' ~produit.tva.valeur) : refTva['%' ~produit.tva.valeur] + 
                     (produit.prixht * panier[produit.id])|montantTva(produit.tva.multiplicateur) }) %}
                {% endfor %}
              <!-- END PRODUCT --> 
                   {% if produits|length != 0 %}
                <div class="totals">
                    <div class="totals-item">
                        <label>Total HT</label>
                        <div class="totals-value" id="cart-subtotal">{{totalHT}}</div>
                    </div>
               
                    <div class="totals-item">
                      {% for key, tva in refTva %}
                          <label>TVA {{ key }} : </label>  <div class="totals-value" id="cart-tax">{{tva}}</div>
                      {% endfor %}
                     
                    </div>
                    <div class="totals-item">
                        <label>Total TTC</label>
                        <div class="totals-value" id="cart-tax">{{totalTTC}}</div>
                    </div>
                    <a href="" class="btn btn-success pull-right">Valider mon panier</a> 
                    <a href="produits_index" class="btn btn-primary">Continuer mes achats</a>
                  {% endif %}
                </div>
          </div>
      </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
   {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
   </div>
{% endblock %}