{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      {{include('_forms/_header.html.twig')}}
      <!-- end header section -->
    </div>

    <!-- nav section -->
    {{include('_forms/_navbar.html.twig')}}
    <!-- end nav section -->
        <div class="container mt-2">
            <div class="row justify-content-center align-items-center">
                <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal"></h1>
                <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class = "mt-4">
                    <button class="btn btn-lg btn-primary" type="submit"> Se connecter </button>
                </div>
            </form>
        </div>
     </div>
    <!-- info section -->
    {{include('_forms/_infos.html.twig')}}
    <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
</div>
{% endblock %}
