{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>

  <!-- nav section -->
    {{include('_menus/_navbar.html.twig')}}
  <!-- end nav section -->


  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h4>Connexion </h4>
          </div>
        </div>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
           {{include("_menus/_menu_vertical_user.html.twig")}}
          <div class="col-lg-4">
            {% for message in app.flashes('message') %}
              <div class="alert-success">
                 {{message}}
              </div>
            {% endfor %}
            <form method="post">
              <div class="contact_form-container">
			     {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-1">
                        Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div>
                  <div>
                    <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                  </div>
				  <div>
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>
					 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                  </div>
                  <div>
                    <button type="submit">Connexion</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
   {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
   </div>
{% endblock %}