{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      {{include('_forms/_header.html.twig')}}
      <!-- end header section -->
    </div>

    <!-- nav section -->
    {{include('_forms/_navbar.html.twig')}}
    <!-- end nav section -->
    <div class="container mt-2">
        <div class="row justify-content-center align-items-center">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

    {{ form_start(registrationForm) }}
         <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        
        {{ form_row(registrationForm.email) }}
      
       
        {{ form_row(registrationForm.plainPassword) }}
      
        {#{ form_row(registrationForm.agreeTerms) }#}
      
        <button type="submit" class="btn btn-lg btn-primary mt-2">Enregister</button>
      
    {{ form_end(registrationForm) }}
        </div>
    </div>
    <!-- info section -->
    {{include('_forms/_infos.html.twig')}}
    <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
</div>
{% endblock %}
