{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>

  <!-- nav section -->
   {{include('_forms/_navbar.html.twig')}}
  <!-- end nav section -->


  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
          </div>
        </div>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
            <form method="post">
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                  </div>
				        <div>
                    <input type="hidden" name="token" value="{{token }}">
                  </div>
                  <div>
                    <button type="submit">Valider</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
   {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
   </div>
{% endblock %}
