{% extends 'base.html.twig' %}
{% block title %}Livraison{% endblock %}
{% block body %}
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>

  <!-- nav section -->
  {{include('_menus/_navbar.html.twig')}}
  <section class="contact_section layout_padding">
      <div class="container-fluid">
          <div class="row">
              <div class="offset-lg-2 col-md-10 offset-md-1">
                  <div class="heading_container">
                    <hr>
                    <h5>Coordonnées</h5>
                  </div>
              </div>
          </div>
          <div class="layout_padding2-top">
              <div class="row">
                  <div class="col-lg-3 col-md-3">
                      {{include("_menus/_menu_vertical_user.html.twig")}}
                  </div>
                  <div class="col-lg-3 col-md-3">  
                      {{form_start(form)}}
                        {{form_widget(form)}}
                          <div class="contact_form-container">
                              <div>
                                  <div>
                                      <button type="submit">Ajouter</button>
                                  </div>
                              </div>
                          </div>
                      {{form_end(form)}}
                  </div>      
                  <div class="col-lg-6 col-md-6">
                      <div class="row">
                      <div class="col-lg-12 col-md-12">
                          {% if user.userAdresses|length != 0 %}
                          <form action="{{ path('panier_valide_adresse') }}" method="POST">   
                              <h5>Adresse de Livraison</h5>                     
                              {% for adresse in user.userAdresses %}
                              
                                <label class="radio">
                                  {# //si c’est premier index de la boucle loop.index0 == 0 #}
                                      <input type="radio"  style="height:1em; width:1em;" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                      {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays}} 
                                      {# //suppression #}
                                      <a href="{{ path('supprimeLivraisonAdresse', { 'id' : adresse.id }) }}">
                                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                                      <br/>{{ user.prenom }} {{ user.nom }}
                                </label>
                              {% endfor %}
                        </div>
                        </div>
                        <div class="row"> 
                        <div class="col-lg-12 col-md-12">      
                            <h5>Adresse de facturation</h5>
                            {% for adresse in user.userAdresses %}
                                <label class="radio">
                                    <input type="radio"  style="height:1em; width:1em;" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}> 
                                    {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }}  {{ adresse.pays }} 
                                    <a href="{#{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }#}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <br/>{{ user.prenom }} {{ user.nom }}
                                </label>
                            {% endfor %}
                        </div>
                           </div>
                        <button class="btn btn-primary mt-2">Valider mes adresses</button>
                      </form>
                    {% endif %}
                 
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end contact section -->
   
  <!-- info section -->
   {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
  </div>
{% endblock %}