{% extends 'base.html.twig' %}
{% block title %}Livraison{% endblock %}
{% block body %}
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>

  <!-- nav section -->
  {{include('_menus/_navbar.html.twig')}}
  <section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h5>{{ page.titre }}</h5>
                </div>
                <div class="offset-3 col-12">
                    {{ page.contenu|raw }}
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- end contact section -->
   
  <!-- info section -->
   {{include('_forms/_infos.html.twig')}}
  <!-- end info section -->

    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- end footer section -->
  </div>
{% endblock %}