{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    {{include('_forms/_header.html.twig')}}
    <!-- end header section -->
  </div>
</div>
  <!-- nav section -->
   {{include('_menus/_navbar.html.twig')}}
  <!-- end nav section -->

    <!-- shop section -->   <!-- end shop section -->

    <!-- about section -->   <!-- end about section -->

    <!-- fruit section -->
    <section class="fruit_section layout_padding">
        {{include('_forms/_produits.html.twig')}}
    </section>
    <!-- end fruit section -->

    <!-- client section -->
    {#{include('_forms/_temoignage.html.twig')}#}
    <!-- end client section -->  
    <div class="hero_area">
    <!-- slider section -->
     {#{include('_forms/_carousel.html.twig')}#}
    <!-- end slider section -->
    </div>
    <!-- info section -->
    {{include('_forms/_infos.html.twig')}}
    <!-- end info section -->
   
    <!-- footer section -->
    {{include('_forms/_footer.html.twig')}}
    <!-- footer section -->
{% endblock %}