{% extends 'admin/menus_admin.html.twig' %}
 {% block body_admin %}
    <h4>Liste  Produits</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix HT</th>
                <th>Quantite</th>
                <th>Poids</th>
                <th>Disponible</th>
                <th>Date création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prixht }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.poids }}</td>
                <td>{{ produit.disponibilite ? 'Oui' : 'Non' }}</td>
                <td>{{ produit.dateCreaAt ? produit.dateCreaAt|date('d-m-Y') : '' }}</td>
                <td>
                     {{ include('admin/produits/_delete_form.html.twig') }}
                    <a href="{{ path('admin_produits_edit', {'id': produit.id}) }}" class="btn btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_produits_new') }}" class="btn btn-primary">Créer un produit</a>
{% endblock %}
